body {
  background-color: white;
}

.board {
  margin-top: 5px;
  height: 39vh;
  width: 17vw;
  background-color: aqua;
}

.task {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  font-size: large;
  background-color: crimson;
  color: white;
  justify-self: center;
  height: 3vh;
  width: 17vw;
  border-radius: 5px;
  cursor: pointer;
}