* {
  margin: 0;
}

.login-page {
  height: 100%;
  width: 100%;
  background-color: #3e1068;
}

.navbar {
  background-color: #c4c4c4;
  position: sticky;
  top: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.navbar-center-item1,
.navbar-center-item2,
.navbar-center-item3 {
  width: 12vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e1068;
  background-color: #c4c4c4;
  cursor: pointer;
  font-weight: bold;
}

.navbar-center-item1:hover,
.navbar-center-item2:hover,
.navbar-center-item3:hover {
  color: #c4c4c4;
  background-color: #3e1068;
}

.login-container {
  margin-left: 55vw;
  margin-top: 2vh;
  width: 30vw;
  height: 40vh;
  background-color: #c4c4c4;
  border-radius: 3%;
}

.choose-container {
  border-radius: 50%;
  margin-left: 55vw;
  margin-top: 20vh;
  position: sticky;
  top: 0;
  height: 6vh;
  width: 30vw;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.choose-1,
.choose-2 {
  box-sizing: border-box;
  width: 15vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e1068;
  background-color: #c4c4c4;
  cursor: pointer;
  font-weight: bold;
}

.choose-2 {
  border-radius: 0 5px 5px 0;
}

.choose-1 {
  border-radius: 5px 0 0 5px;
  border: #c4c4c4 1px solid;
  color: #c4c4c4;
  background-color: #3e1068;
}

.username {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 22vh;
  margin-right: 5vw;
}

.username .label {
  /* border: #3e1068 5px solid; */
  height: 6vh;
  font-size: large;
  margin-top: 15px;
  margin-left: 2vw;
  color: #3e1068;
}

.username .input {
  border: 0;
  width: 25vw;
  height: 10vh;
  border-radius: 5px;
  margin-top: 1vh;
  margin-left: 2vw;
}

.forgot-password {
  margin-left: 20vw;
  margin-top: 3vh;
  color: green;
}

.submit-button {
  margin-top: 3vh;
  margin-left: 5vw;
  background-color: #3e1068;
  color: #c4c4c4;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  border: 0;
  font-size: medium;
}
