* {
  margin: 0;
}

.login-page {
  display: flex;
  background-color: #3e1068;
}

.login-navbar {
  background-color: #c4c4c4;
  position: sticky;
  top: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.login-navbar-center-item1,
.login-navbar-center-item2,
.login-navbar-center-item3 {
  width: 12vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e1068;
  background-color: #c4c4c4;
  cursor: pointer;
  font-weight: bold;
}

.login-navbar-center-item1:hover,
.login-navbar-center-item2:hover,
.login-navbar-center-item3:hover {
  color: #c4c4c4;
  background-color: #3e1068;
}

.login-image {
  width: 45vw;
  margin-left: 5vw;
}

.login-image-container {
  width: fit-content;
  align-items: center;
  flex: 1;
}

.login-container {
  flex:1;
  margin-top: 10vh;
  margin-left: 10vw;
}

.login-input-container {
  margin-top: 2vh;
  width: 30vw;
  height: 45vh;
  background-color: #c4c4c4;
  border-radius: 3%;
  box-shadow: 20px 20px #482276;
  font-family: 'Archivo', sans-serif;
}

.login-button-forgotpassword-container {
  margin-top: 7vh;
}

.login-choose-container {
  margin-top: 10vh;
  border-radius: 50%;
  height: 6vh;
  width: 30vw;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

.login-choose-1,
.login-choose-2 {
  box-sizing: border-box;
  width: 15vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e1068;
  background-color: #c4c4c4;
  cursor: pointer;
  font-weight: bold;
}

.login-choose-2 {
  border-radius: 0 5px 5px 0;
}

.login-choose-1 {
  border-radius: 5px 0 0 5px;
  border: #c4c4c4 1px solid;
  color: #c4c4c4;
  background-color: #3e1068;
}

.login-username {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 25vh;
  margin-right: 5vw;
}

.login-username .login-label {
  height: 6vh;
  font-size: x-large;
  margin-top: 15px;
  margin-left: 2vw;
  color: #3e1068;
}

.login-username .login-input {
  border: 0;
  width: 25vw;
  height: 10vh;
  border-radius: 5px;
  margin-top: 1vh;
  margin-left: 2vw;
  font-size: large;
  outline: none;
}

.login-username:hover .login-input:hover {
  outline: none;
}

.login-forgot-password {
  margin-left: 20vw;
  margin-top: 3vh;
  color: green;
  font-size: large;
}

.login-submit-button {
  margin-top: 3vh;
  margin-left: 5vw;
  background-color: #3e1068;
  color: #c4c4c4;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  border: 0;
  font-size: large;
  cursor: pointer;
  font-family: 'Archivo', sans-serif;
}
