.card-container {
  height: 500px;
  width: 239px;
  background-color: gray;
  margin: 5px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
}

.edit-text {
  margin: 0.5vh;
  margin-left: 1vw;
  font-size: large;
  max-width: 280px;
  margin-top: 10px;
}

.label-text {
  background-color: chartreuse;
  margin: 0.5vw;
}

.edit-button {
  margin-top: 1vh;
  margin-left: 10vw;
  background-color: grey;
  border: 0;
  cursor: pointer;
}

.addButton {
  font-size: x-large;
  display: flex;
  align-items: center;
  margin-left: 133px;
  cursor: pointer;
}

.trashButton {
  font-size: medium;
  display: flex;
  margin-left: 136px;
  cursor: pointer;
}

.card-trash-bottom {
  margin-top: 5px;
}
