    .register-page {
	display: flex;
	background-color: #3e1068;
  }
  
  .register-navbar {
	background-color: #c4c4c4;
	position: sticky;
	top: 0;
	height: 6vh;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: "Roboto", sans-serif;
  }
  
  .register-navbar-center-item1,
  .register-navbar-center-item2,
  .register-navbar-center-item3 {
	width: 12vw;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #3e1068;
	background-color: #c4c4c4;
	cursor: pointer;
	font-weight: bold;
  }
  
  .register-navbar-center-item1:hover,
  .register-navbar-center-item2:hover,
  .register-navbar-center-item3:hover {
	color: #c4c4c4;
	background-color: #3e1068;
  }

  .register-image {
	width: 45vw;
	margin-left: 5vw;
  }
  
  .register-image-container {
	width: fit-content;
	align-items: center;
	flex: 1;
  }

  .register-container {
	flex:1;
  	margin-left: 10vw;
	
  }

  .register-input-container {
	margin-top: 2vh;
	width: 30vw;
	height: 61vh;
	background-color: #c4c4c4;
	border-radius: 3%;
	box-shadow: 20px 20px #482276;
	font-family: 'Archivo', sans-serif;
  }
  
  .register-choose-container {
	margin-top: 10vh;
	border-radius: 50%;
	height: 6vh;
	width: 30vw;
	display: flex;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: large;
  }
  
  .choose-01,
  .choose-02 {
	box-sizing: border-box;
	width: 15vw;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #3e1068;
	background-color: #c4c4c4;
	cursor: pointer;
	font-weight: bold;
  }
  
  .choose-02 {
	border-radius: 0 5px 5px 0;
	border: #c4c4c4 1px solid;
	color: #c4c4c4;
	background-color: #3e1068;
  }
  
  .choose-01 {
	border-radius: 5px 0 0 5px;
  }
  
  .register-username {
	display: flex;
	flex-direction: column;
	width: 30vw;
	height: 48vh;
	margin-right: 5vw;
  }
  
   .register-label {
	
	height: 6vh;
	font-size: x-large;
	margin-top: 15px;
	margin-left: 2vw;
	color: #3e1068;
  }
  
 .register-input {
	border: 0;
	width: 25vw;
	height: 10vh;
	border-radius: 5px;
	margin-top: 1vh;
	margin-left: 2vw;
	font-size: large;
	outline: none;
  }

  .register-username:hover .register-input:hover {
	  outline: none;
  }
  
  
  .register-submit-button {
	margin-top: 3vh;
	margin-left: 5vw;
	background-color: #3e1068;
	color: #c4c4c4;
	width: 20vw;
	height: 5vh;
	border-radius: 5px;
	border: 0;
	font-size: large;
	cursor: pointer;
	font-family: 'Archivo', sans-serif;
}
  